*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Inter, Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Global */
.c-cta-button {
    padding: 8px 16px; 
    font-size: 16px; 
    font-weight: 500; 
    color: #ffffff; 
    background-color: #1b940d; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
}
.c-cta-button--light { 
    background-color: #32CD32     ;
    color: #111;
    font-weight: 600;
}

.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 200px;
}
.main-content__h1 {
    font-size: 36px;
    margin-bottom: 12px;
}

.cart-toast {
    position: fixed;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    width: 40vw;
    max-width: 420px;
    min-width: 340px;
    background-color: #333;
    color: #fff;
    padding: 26px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* opacity: 1;
    visibility: visible; */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.cart-toast--show {
    opacity: 1;
    visibility: visible;
}


.cart-toast__text {
    font-size: 18px;
    text-align: center;
    margin-bottom: 32px;
}
.cart-toast__buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.cart-toast__progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #32CD32;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
}
